@import '../globals/variables';

@media (min-width: $medium) {
    .content-wrapper {
        .about {
            display: flex;
    
            &__img {
                width: 30%;           
                margin-right: 2em;
    
                .logo {
                    width: 100%;
                }
            }
            
    
            &__content {
                text-align: justify;
            }
        }
    }
    
}

.content-wrapper {
    
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        background-color: $yellow-orange;
        border-radius: 8px;
        margin: 3vw 0;
        padding: 30px 17px;

        &__search-box {
            flex: 1;
            max-width: 360px;

            input {
                min-width: 100%;
                padding-right: 70px;
            }

            .button {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 0 10px;
            }
        }

        &__order-by {
            flex: 1;
            max-width: 320px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .content {
        margin: 2em 0;

        .tasks {
            display: grid;
            gap: 24px;

            @media (min-width: $x-small) {
                grid-template-columns: repeat(auto-fill, 250px);
                grid-auto-rows: 360px;
            }
        }
        
        

        .load {
            margin: 3em 0;
        }
    }

    .newsletter {
        display: none;
        background-color: $light-grey;
        margin: 0 auto;
        max-width: 90%;
        padding: 21px 45px;
        border-radius: 8px;

        // temp
        @media (min-width: 600px) {
            display: block;
        }

        &__inputs {
            margin-top: 7px;
            display: flex;
            gap: 15px;

            & > div {
                flex: 3;

                label {
                    display: block;
                    margin-bottom: 2px;
                }
                
                input {
                    width: 100%;
                }
            }
            
            .button--big {
                flex: 1;
                padding: 7px;
                margin: auto 0 0;
            }
        }
    }
    
    .about {
        margin: 4em 0;
        
        &__img {
            margin-bottom: 40px;

            img {
                width: 50%;
            }
        }

        &__content {
            margin: 0 auto;
            width: 90%;

            p:nth-child(even) {
                margin: 1.5em 0;
            }
        }
    }
}

.logo {
    width: 65%;
}